/* Estilo inspirado en Spotify */
.footer {
  background-color: #121212; /* Negro de Spotify */
  color: #b3b3b3; /* Gris claro */
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  max-width: 1200px;
}

.footer-section {
  flex: 1;
}

.footer-logo {
  color: #1db954; /* Verde característico de Spotify */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-links {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  color: #b3b3b3;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #1db954;
}

.footer-contact {
  flex: 1;
  text-align: right;
}

.footer-contact p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-contact {
    text-align: center;
  }
}
